In [3]:
import pandas as pd
import numpy as np

# PRODUCTION DATAFRAME

#read in production data from WOGCC csv files. Clean API's to correct format, filter to counties of interest, restructure csv
#to have data in column orientation. 

#Additionally, calculate BOE as Oil + Gas/6, as well as 6 and 12 month cum's.

#should just need counties 23, 37,41
Production19_33=pd.read_csv('C:\\Users\\Allie\\GitHub\\RMAG\\Production Data\\Counties19-33_121219.csv',dtype={'APINO':str})
Production35_45=pd.read_csv('C:\\Users\\Allie\\GitHub\\RMAG\\Production Data\\Counties35-45_121219.csv',dtype={'APINO':str})

Production19_45=Production19_33.copy()
allProd=Production19_45.append(Production35_45)

#Get a 14 digit API
def find_digits(name):
    x='490'+str(name)
    #x=''.join(re.findall('\d', str(name)))'
    while len(x)<14: 
        x+='0'
    return x
allProd['API']=allProd['APINO'].map(find_digits)

#Filter to counties 23, 37, or 41
def get_cty(name):
    x=str(name)
    is_cty= ((x.startswith('23')) or (x.startswith('37')) or (x.startswith('41')))
    return is_cty

is_cty=allProd['APINO'].map(get_cty)
Prod3cty=allProd[is_cty]


headers=list(Prod3cty.columns) 

oilHead=['API','YR','COMPANY','ResCode' ,'RESERVOIR']
gasHead=['API','YR','COMPANY','ResCode' ,'RESERVOIR']
waterHead=['API','YR','COMPANY','ResCode' ,'RESERVOIR']
for name in headers:
    x=(str(name))
    if 'OIL' in x:
        oilHead.append(x)
    if 'GAS' in x:
        gasHead.append(x)    
    if 'WATER' in x:
        waterHead.append(x)    

oil=Prod3cty[oilHead].copy()
gas=Prod3cty[gasHead].copy()
water=Prod3cty[waterHead].copy()

oil=pd.melt(oil, id_vars=['API', 'YR','COMPANY','ResCode' ,'RESERVOIR'])
gas=pd.melt(gas, id_vars=['API', 'YR','COMPANY','ResCode' ,'RESERVOIR'])
water=pd.melt(water, id_vars=['API', 'YR','COMPANY','ResCode' ,'RESERVOIR'])

oil['Month']=oil['variable'].map(lambda variable: variable[0:variable.find('_')])    
gas['Month']=gas['variable'].map(lambda variable: variable[0:variable.find('_')])    
water['Month']=water['variable'].map(lambda variable: variable[0:variable.find('_')])    

def month_to_num(month):
    if month=='JAN':
        return 1
    if month=='FEB':
        return 2
    if month=='MAR':
        return 3
    if month=='APR':
        return 4
    if month=='MAY':
        return 5
    if month=='JUN':
        return 6
    if month=='JUL':
        return 7
    if month=='AUG':
        return 8
    if month=='SEP':
        return 9  
    if month=='OCT':
        return 10    
    if month=='NOV':
        return 11        
    if month=='DEC':
        return 12    
        
oil['MonthNum']=oil['Month'].map(month_to_num)
gas['MonthNum']=gas['Month'].map(month_to_num)
water['MonthNum']=water['Month'].map(month_to_num)

oil=oil.rename(columns={'value':'Oil','variable':'monthU'})
gas=gas.rename(columns={'value':'Oil','variable':'monthU'})
water=water.rename(columns={'value':'Oil','variable':'monthU'})

oil.set_index(['API', 'YR','MonthNum'], inplace=True)
gas.set_index(['API', 'YR','MonthNum'], inplace=True)
water.set_index(['API', 'YR','MonthNum'], inplace=True)

oil.sort_index(inplace=True)
gas.sort_index(inplace=True)
water.sort_index(inplace=True)
                                
merge=oil.merge(gas, how='outer', on=['API','YR','MonthNum']).merge(water,how='outer',on=['API','YR','MonthNum'])
merge=merge.rename(columns={'monthU_x':'MONTH_OIL','Oil_x':'Oil','Month_x':'Month','monthU_y':'MONTH_GAS','Oil_y':'Gas','Month_y':'Month','monthU':'MONTH_WATER','Oil':'Water'})

merge=merge.reset_index()
merge['day']=1

merge=merge.rename(columns={'YR': 'year', 'MonthNum': 'month'})

merge['date']=pd.to_datetime(merge[['year', 'month', 'day']])

merge['firstProductionDate'] = merge['date'].where((merge.Oil!=0)|(merge.Gas!=0)).groupby(merge['API']).transform('min')

#calculate BOE
merge['BOE']=merge.Gas/6+merge.Oil


sixMoCondition=(merge.date>=merge.firstProductionDate) & (merge.date<merge.firstProductionDate + pd.offsets.MonthOffset(6))
twelveMoCondition=(merge.date>=merge.firstProductionDate) & (merge.date<merge.firstProductionDate + pd.offsets.MonthOffset(12))
merge['6MoOil']=merge['Oil'].where(sixMoCondition).groupby(merge['API']).transform('sum')
merge['6MoGas']=merge['Gas'].where(sixMoCondition).groupby(merge['API']).transform('sum')
merge['6MoBOE']=merge['BOE'].where(sixMoCondition).groupby(merge['API']).transform('sum')
merge['12MoOil']=merge['Oil'].where(twelveMoCondition).groupby(merge['API']).transform('sum')
merge['12MoGas']=merge['Gas'].where(twelveMoCondition).groupby(merge['API']).transform('sum')
merge['12MoBOE']=merge['BOE'].where(twelveMoCondition).groupby(merge['API']).transform('sum')

merge['CumOil']=merge['Oil'].groupby(merge['API']).transform('sum')
merge['CumGas']=merge['Gas'].groupby(merge['API']).transform('sum')
merge['CumBOE']=merge['BOE'].groupby(merge['API']).transform('sum')


merge.drop(['MONTH_OIL','Month','MONTH_GAS','Month','MONTH_WATER','Month','day'], axis=1, inplace=True)

productionOneline=merge.groupby('API').min()
productionOneline=productionOneline.reset_index()

productionOneline=productionOneline[['API','firstProductionDate','6MoOil','6MoGas','6MoBOE','12MoOil','12MoGas','12MoBOE','CumOil','CumGas','CumBOE']] 
productionOneline = productionOneline.dropna(how='any')

#Pickle productionOneline:

#end production dataframe

KeyError: "['RESERVOIR'] not in index"

In [2]:
merge

,API,year,month,Oil,Gas,Water,date,firstProductionDate,BOE,6MoOil,6MoGas,6MoBOE,12MoOil,12MoGas,12MoBOE,CumOil,CumGas,CumBOE
0,49023050700000,1978.0,1,5.0,3204.0,0.0,1978-01-01,1978-01-01,539.000000,92.0,18596.0,3191.333333,187.0,35975.0,6182.833333,6459.0,1165757.0,200751.833333
1,49023050700000,1978.0,2,10.0,2451.0,0.0,1978-02-01,1978-01-01,418.500000,92.0,18596.0,3191.333333,187.0,35975.0,6182.833333,6459.0,1165757.0,200751.833333
2,49023050700000,1978.0,3,47.0,3305.0,0.0,1978-03-01,1978-01-01,597.833333,92.0,18596.0,3191.333333,187.0,35975.0,6182.833333,6459.0,1165757.0,200751.833333
3,49023050700000,1978.0,4,0.0,3178.0,0.0,1978-04-01,1978-01-01,529.666667,92.0,18596.0,3191.333333,187.0,35975.0,6182.833333,6459.0,1165757.0,200751.833333
4,49023050700000,1978.0,5,3.0,3311.0,0.0,1978-05-01,1978-01-01,554.833333,92.0,18596.0,3191.333333,187.0,35975.0,6182.833333,6459.0,1165757.0,200751.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3436831,49041214630000,2019.0,8,19.0,3817.0,55.0,2019-08-01,2012-06-01,655.166667,854.0,143938.0,24843.666667,1100.0,223634.0,38372.333333,3536.0,656772.0,112998.000000
3436832,49041214630000,2019.0,9,9.0,3601.0,18.0,2019-09-01,2012-06-01,609.166667,854.0,143938.0,24843.666667,1100.0,223634.0,38372.333333,3536.0,656772.0,112998.000000
3436833,49041214630000,2019.0,10,13.0,3803.0,70.0,2019-10-01,2012-06-01,646.833333,854.0,143938.0,24843.666667,1100.0,223634.0,38372.333333,3536.0,656772.0,112998.000000
3436834,49041214630000,2019.0,11,0.0,0.0,0.0,2019-11-01,2012-06-01,0.000000,854.0,143938.0,24843.666667,1100.0,223634.0,38372.333333,3536.0,656772.0,112998.000000
3436835,49041214630000,2019.0,12,0.0,0.0,0.0,2019-12-01,2012-06-01,0.000000,854.0,143938.0,24843.666667,1100.0,223634.0,38372.333333,3536.0,656772.0,112998.000000

In [5]:
merge.to_csv('C:\\Users\\Allie\\Desktop\\Anthropocene Analytics LLC\\Power BI\\my bi class\\ProductionData.csv')

In [8]:
df=pd.read_pickle("C:\\Users\\Allie\\GitHub\\RMAG\\dfLogs.pkl")

df.to_csv('C:\\Users\\Allie\\Desktop\\Anthropocene Analytics LLC\\Power BI\\my bi class\\LogData.csv')

In [9]:
df=pd.read_pickle("C:\\Users\\Allie\\GitHub\\RMAG\\topsOneline.pkl")
df.to_csv('C:\\Users\\Allie\\Desktop\\Anthropocene Analytics LLC\\Power BI\\my bi class\\TopsData.csv')

In [10]:
df=pd.read_pickle("C:\\Users\\Allie\\GitHub\\RMAG\\headerOneline.pkl")
df.to_csv('C:\\Users\\Allie\\Desktop\\Anthropocene Analytics LLC\\Power BI\\my bi class\\HeaderData.csv')

In [11]:
dfLogs

NameError: name 'dfLogs' is not defined

In [14]:
df=pd.read_pickle("C:\\Users\\Allie\\GitHub\\RMAG\\dfLogs.pkl")

In [15]:
df

         Depth             API       GR     DEN    DPHI    NPHI  DeepResis
0        100.0  49023222790000   51.338 -999.25 -999.25 -999.25    -999.25
1        100.5  49023222790000   56.067 -999.25 -999.25 -999.25    -999.25
2        101.0  49023222790000   59.779 -999.25 -999.25 -999.25    -999.25
3        101.5  49023222790000   57.598 -999.25 -999.25 -999.25    -999.25
4        102.0  49023222790000   52.273 -999.25 -999.25 -999.25    -999.25
...        ...             ...      ...     ...     ...     ...        ...
25508  12754.0  49041214610000 -999.250 -999.25 -999.25 -999.25    -999.25
25509  12754.5  49041214610000 -999.250 -999.25 -999.25 -999.25    -999.25
25510  12755.0  49041214610000 -999.250 -999.25 -999.25 -999.25    -999.25
25511  12755.5  49041214610000 -999.250 -999.25 -999.25 -999.25    -999.25
25512  12756.0  49041214610000 -999.250 -999.25 -999.25 -999.25    -999.25

[743451 rows x 7 columns]

In [16]:


#Some porosities are fractional, some aren't. To Fix: 
df['DPHI'] = np.where(df.DPHI>1,(df.DPHI/100),df.DPHI)
df['NPHI'] = np.where(df.NPHI>1,(df.NPHI/100),df.NPHI)

#DPHI and NPHI between 0 and 1
#DEN and GR not negative
#RILD between 0 and 10000
df.GR=df.GR.mask(df.GR.lt(0),np.nan)
df.DEN=df.DEN.mask(df.DEN.lt(0),np.nan)
df.NPHI=df.NPHI.mask(df.NPHI.lt(0)|df.NPHI.gt(1),np.nan)
df.DPHI=df.DPHI.mask(df.DPHI.lt(0)|df.DPHI.gt(1),np.nan)
df.DeepResis=df.DeepResis.mask(df.DeepResis.lt(0),np.nan)



#Some tops aren't where I want: 
# 49023222800000 - top at 10350, want to move to 11153
# 49023222790000 - top at 10350, want to move to 11122
# 49023224510000 - top at 11030, want to move to 10946
# 49041214460000 - top at 11961, want to move to 11930
# 49023224520000 - top at 10834, want to move to 10800
df.loc[df.API == '49023222800000', 'FrontierDepth'] = 11153
df.loc[df.API == '49023222790000', 'FrontierDepth'] = 11122
df.loc[df.API == '49023224510000', 'FrontierDepth'] = 10946
df.loc[df.API == '49041214460000', 'FrontierDepth'] = 11930
df.loc[df.API == '49023224520000', 'FrontierDepth'] = 10800


#Delete this well as it is missing GR over KF
# 49037288650000 - double checked raw LAS from WOGCC, indeed does not cover KF
df = df[df['API'] != '49037288650000']

#end cleaning df

In [18]:
df.to_csv('C:\\Users\\Allie\\Desktop\\Anthropocene Analytics LLC\\Power BI\\my bi class\\LogData.csv')